<!--
body {
    font-family: Verdana, Geneva, sans-serif;
    line-height: 150%;
    font-size: 12px;
    background-image: url("pics/crete.jpg");
    background-repeat: no-repeat;
}



.image {
    border-width: 1px;
    border-style: solid;
    border-color: silver;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    /*color: #c78066;*/
    color: #4779be;
}


a:visited {
    /*color: #c78066;*/
    text-decoration: none;
    background-color: transparent
}


a:hover {
    color: #900;
    text-decoration: underline;
    background-color: transparent
}


.subtitle {
    color: white;
    font-weight: lighter;
    font-size: 20px;
    font-stretch: expanded;
    line-height: 150%
}

.subsubtitle {
    color: white;
    font-size: 20px;
    font-stretch: expanded;
    line-height: 150%
}


h1 {
    color: white;
    font-weight: lighter;
    font-size: 44px;
}

h2 {
    color: #c78066;
    /*color: #648dbe;*/
}

.pc {
    margin: 10px;
}

li{

}

.pcmember {
    margin: 2px;
    list-style-type: circle;
}




/*#regtable td {*/
    /*padding: 5px 5px 5px 5px*/
/*}*/

-->