/* Global Styles */

body {
	margin:0px;
	}
.style15   a {
	color: #92B1AD;
	text-decoration: none;
}
.style15 a:hover {
	color: #B5D2CD;
	text-decoration: none;
}
	
td {
	color:#31599F;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	}
	
a {
	}
	
a:hover {
	color: #000000;
	border-style: none;
	}

/* ID Styles */

#navigation td {
	border-bottom: 2px solid #C0DFFD;
	}
	
#navigation a {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	display:block;
	padding:8px 6px 10px 26px;
	}
#tagline .style3 a {
	color: #E9745F;
}
	
#navigation a:hover {
}
	
#logo 	{
	color: #FDF2DC;
	letter-spacing:0.1em;
	line-height:12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	}

#tagline 	{
	color: #E9745F;
	letter-spacing:0em;
	line-height:8px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	}

#monthformat {
	border-bottom: 2px solid #E6F3FF;
		}
		
#dateformat {
	color: #003366;
	letter-spacing:0em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}
	
#dateformat a {
	font:Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	font-weight:bold;
	letter-spacing:0em;
	text-decoration: none;
	}
	
#dateformat a:hover {
	letter-spacing:0em;
	text-decoration: underline;
	}
	
/* Class Styles */
	
.bodyText {
	color:#003366;
	line-height:16px;
	margin-top:0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	}
.bodyText a {
	color: #003366;
}
	
.pageName{
	font: 22px Verdana, Arial, Helvetica, sans-serif;
	color: #3366CC;
	line-height:24px;
	letter-spacing:0.2em;
	border-style: none;
	}
	
.subHeader {
	font:bold 10px Verdana, Arial, Helvetica, sans-serif;
	color: #3366CC;
	line-height:16px;
	letter-spacing:.2em;
	}

.quote {
	font: 20px Verdana, Arial, Helvetica, sans-serif;
	color: #759DA1;
	line-height:30px;
	}
	
.smallText {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	}
	
.navText {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #003366;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	}
.datetable {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #C0DFFD;
}
.bodyText div {
	line-height: 16px;
}
.bodyText h3 {
	font-size: 14px;
	list-style-image: none;
}
.bodyText li {
	font-size: 14px;
}
.bodyText li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}
